body {
    font-family: 'Poppins';
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(54, 54, 54);
    padding: 20px 30px;
}

.nav-action {
    text-decoration: none;
    display: inline-block;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 1.5rem;
    margin-left: 50px;
    font-weight: 1000;
    transition: all 0.4s;
}

.nav-action::before {
    content: "";
    display: inline-block;
}

.nav-action:hover{
    color: #892CDC;
}

.main-container {
    width: 100%;
    height: 100%;
    min-width: 335px;
    background-color: #000000;
}

.main-mode{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.main-timer{
    display: flex;
    justify-content: center;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pomodoro-time{
    font-family: 'Poppins';
    font-weight: 1200;
    font-size: 80px;
}

.main-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
}


.main-mode .pomodoro-button{
    background-color: black;
    border: 1px solid white;
    font-size: 20px;   
}

.main-mode .pomodoro-button:hover {
    background-color: gray;
}

.pomodoro-button {
    width: auto;
    border: 0px;
    display: block;
    color: #fff;
    background-color: #892CDC;
    padding: 10px 35px;
    border-radius: 10px;
    transition: all 0.3s;
}

.pomodoro-button{
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
}

/* .pomodoro-button:last-child{
    font-size: 20px;
} */

.pomodoro-button:hover{
    background-color: #BC6FF1;
}

.pomodoro-timing {
    width: 200px;
}

.main-footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #000;
    color: white;
    content: "aaa";
}

.main-footer a{
    color: gray;
    text-decoration: none;
}

.main-footer a:hover{
    color: chartreuse;
}



/* settings css */

.main-setting{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.main-setting form {
    display: flex;
    flex-direction: column;
}

.pomodoro-setting {
    border: 0;
    border-bottom: solid grey;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    background: transparent;
    transition: border-color 0.3s;
}

/* Chrome, Safari, Edge, Opera */
.pomodoro-setting::-webkit-outer-spin-button,
.pomodoro-setting::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.pomodoro-setting[type=number] {
  -moz-appearance: textfield;
}

.formLabel {
    position: relative;
    top: 0;
    display: block;
    transition: 0.3s;
}


@media all{
    .pomodoro-button{
        display: block;
        margin:0.4em auto;
    }
}
